/* big table to 1200 */
@media only screen and (max-width: 1200px){

}

/* Small tablet to big tablet: from 767px to 1023px */
@media only screen and (max-width: 1023px){
    section{ padding: 80px 0;}
    .nav-bar{ font-size: 1.7rem;}
    .nav-bar li{ margin-left: 35px;}
    .long-copy{ width: 75%;}
    .steps-box img{ margin-right: 15px;}

    .col:nth-child(odd) { margin-left: 0;}
    .span-1-of-4,
    .span-1-of-3 { 
        width: 49.2%;
        margin-bottom: 30px;
    }
    .span-1-of-3:last-of-type { 
        margin-left: 25%;
        margin-bottom: 0px;
    }
    
    
}


/* Small phones to small tablets: from 480px to 767px */
@media only screen and (max-width: 768px){
    section { padding: 40px 0;}
    body { font-size: 16px ;}
    h1 { font-size: 3.3rem;}
    h2 { font-size: 2.8rem;}

    .container{ padding: 0 6%;}
    .col { 
        width: 100%;
        margin: 0 0 10% 0;
    }
    form .col{
        margin-bottom: 3%;
    }
    .span-1-of-3:last-of-type { 
        margin-left: 0%;

    }

    /* navegation-bar */
    .mobile-menu { display: block; }

    .nav-bar { display: none;}

    .nav-bar {
        float: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;       
        text-align: center;
    }

    .sticky .nav-bar {
        float: none;
        position: absolute;
        left: 0;
        width:100%;       
        text-align: center;
    }

    .nav-bar { top: 7px; }
    .sticky .nav-bar {
        top: 59px;
        background-color: rgba(255, 255, 255, 0.98);
    }

    .nav-bar li{
        display: block;
        margin: 0;
    }

    .sticky .nav-bar li {
        padding: 8px 0;
        border-bottom: 1px solid rgb(238, 238, 238);
        
    }

    .nav-bar a:link,
    .nav-bar a:visited,
    .sticky .nav-bar a:link,
    .sticky .nav-bar a:visited {
        padding-bottom: 2px;
    }


    
    /* ----------- */

    .long-copy { width: 100%;}
    .iphone-box img { width: 200px;}
    .steps-box { margin-bottom: 0;}
    .buttons-box{
        margin-top: 40px;
        margin-bottom: 0;
        text-align: center;
    }
    .line-box { font-size: 1.7rem;}
    .contact-form{
        width: 100%;
    }
    .contact-form .row div:first-child { display: none;}
    footer { font-size: 1.6rem;}
    footer .col { margin-bottom: 4%;}
    .footer-nav,
    .social-links{ 
        text-align: center;
        float: none;
    }

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    .btn-store img { height:40px;}
    .plan-box li { padding: 0;}
    .small-icon { width: 30px;}

    
    h2 { font-size: 2.5rem;}
    .header-text-box { top: 60%; }
    .nav-bar { transform: translateX(-25%); }
    .sticky .nav-bar li { padding-left: 0;}
}

@media only screen and (max-width: 360px){
    h1 { font-size: 3rem;}
    h2 { font-size: 2.3rem; }
    
    .nav-bar { transform: translateX(0); }
    .nav-bar {
        float: left;
        position: static;
        width: auto;
        text-align: left;
    }

    .nav-bar li {
        padding-left: 0;
    }
}

 /* size > 1023px = lg size */
 /* 767px < size < 1023px = md size */
 /* 480 < size < 767px = sm size */